aiogram==3.31.0
fastapi==0.116.1
uvicorn[standard]==0.35.0
SQLAlchemy==2.0.52
asyncpg==0.30.0
alembic==1.16.5
redis==6.4.0
pydantic-settings==2.10.1
pydantic==2.11.7
openai==3.6.0
python-multipart==0.0.20
orjson==3.11.3
pypdf==6.0.0
python-docx==1.2.0
openpyxl==3.1.5
